[submodule "ext/musl"]
	path = ext/musl
	url = git://git.musl-libc.org/musl
	ignore = dirty
	shallow = true
[submodule "ext/glibc"]
	path = ext/glibc
	url = https://github.com/bminor/glibc.git
	ignore = dirty
	shallow = true
[submodule "ext/crosstool-ng"]
	path = ext/crosstool-ng
	url = https://github.com/crosstool-ng/crosstool-ng
	ignore = dirty
	shallow = true
[submodule "ext/gcc"]
	path = ext/gcc
	url = https://github.com/gcc-mirror/gcc.git
	ignore = dirty
	shallow = true
[submodule "ext/linux"]
	path = ext/linux
	url = https://github.com/torvalds/linux.git
	ignore = dirty
	shallow = true
[submodule "ext/osxcross"]
	path = ext/osxcross
	url = https://github.com/tpoechtrager/osxcross.git
	ignore = dirty
	shallow = true
[submodule "ext/fontconfig"]
	path = ext/fontconfig
	url = https://gitlab.freedesktop.org/fontconfig/fontconfig.git
	ignore = dirty
	shallow = true
[submodule "ext/freetype"]
	path = ext/freetype
	url = https://github.com/freetype/freetype.git
	ignore = dirty
	shallow = true
[submodule "ext/libexpat"]
	path = ext/libexpat
	url = https://github.com/libexpat/libexpat.git
	ignore = dirty
	shallow = true
[submodule "ext/libpng"]
	path = ext/libpng
	url = https://github.com/glennrp/libpng.git
	ignore = dirty
	shallow = true
[submodule "ext/zlib"]
	path = ext/zlib
	url = https://github.com/madler/zlib.git
	ignore = dirty
	shallow = true
[submodule "ext/alsa-lib"]
	path = ext/alsa-lib
	url = https://github.com/alsa-project/alsa-lib.git
	ignore = dirty
	shallow = true
[submodule "ext/libx11"]
	path = ext/libx11
	url = https://gitlab.freedesktop.org/xorg/lib/libx11.git
	ignore = dirty
	shallow = true
[submodule "ext/xorgproto"]
	path = ext/xorgproto
	url = https://gitlab.freedesktop.org/xorg/proto/xorgproto.git
	ignore = dirty
	shallow = true
[submodule "ext/libxdmcp"]
	path = ext/libxdmcp
	url = https://gitlab.freedesktop.org/xorg/lib/libxdmcp.git
	ignore = dirty
	shallow = true
[submodule "ext/libxtrans"]
	path = ext/libxtrans
	url = https://gitlab.freedesktop.org/xorg/lib/libxtrans.git
	ignore = dirty
	shallow = true
[submodule "ext/libxcb"]
	path = ext/libxcb
	url = https://gitlab.freedesktop.org/xorg/lib/libxcb.git
	ignore = dirty
	shallow = true
[submodule "ext/xcbproto"]
	path = ext/xcbproto
	url = https://gitlab.freedesktop.org/xorg/proto/xcbproto.git
	ignore = dirty
	shallow = true
[submodule "ext/libxau"]
	path = ext/libxau
	url = https://gitlab.freedesktop.org/xorg/lib/libxau.git
	ignore = dirty
	shallow = true
[submodule "ext/libxt"]
	path = ext/libxt
	url = https://gitlab.freedesktop.org/xorg/lib/libxt.git
	ignore = dirty
	shallow = true
[submodule "ext/libsm"]
	path = ext/libsm
	url = https://gitlab.freedesktop.org/xorg/lib/libsm.git
	ignore = dirty
	shallow = true
[submodule "ext/libice"]
	path = ext/libice
	url = https://gitlab.freedesktop.org/xorg/lib/libice.git
	ignore = dirty
	shallow = true
[submodule "ext/util-linux"]
	path = ext/util-linux
	url = https://github.com/util-linux/util-linux.git
	ignore = dirty
	shallow = true
[submodule "ext/cpython"]
	path = ext/cpython
	url = https://github.com/python/cpython.git
	ignore = dirty
	shallow = true
[submodule "ext/libffi"]
	path = ext/libffi
	url = https://github.com/libffi/libffi.git
	ignore = dirty
	shallow = true
[submodule "ext/ncurses"]
	path = ext/ncurses
	url = https://github.com/mirror/ncurses.git
	ignore = dirty
	shallow = true
[submodule "ext/libxrender"]
	path = ext/libxrender
	url = https://gitlab.freedesktop.org/xorg/lib/libxrender.git
	ignore = dirty
	shallow = true
[submodule "ext/libxtst"]
	path = ext/libxtst
	url = https://gitlab.freedesktop.org/xorg/lib/libxtst.git
	ignore = dirty
	shallow = true
[submodule "ext/libxext"]
	path = ext/libxext
	url = https://gitlab.freedesktop.org/xorg/lib/libxext.git
	ignore = dirty
	shallow = true
[submodule "ext/libxi"]
	path = ext/libxi
	url = https://gitlab.freedesktop.org/xorg/lib/libxi.git
	ignore = dirty
	shallow = true
[submodule "ext/libxfixes"]
	path = ext/libxfixes
	url = https://gitlab.freedesktop.org/xorg/lib/libxfixes.git
	ignore = dirty
	shallow = true
[submodule "ext/libcups"]
	path = ext/libcups
	url = https://github.com/OpenPrinting/libcups.git
	ignore = dirty
	shallow = true
[submodule "ext/linux-pam"]
	path = ext/linux-pam
	url = https://github.com/linux-pam/linux-pam.git
	ignore = dirty
	shallow = true
