[submodule "ext/musl"]
	path = ext/musl
	url = git://git.musl-libc.org/musl
	ignore = dirty
	shallow = true
[submodule "ext/glibc"]
	path = ext/glibc
	url = https://github.com/bminor/glibc.git
	ignore = dirty
	shallow = true
[submodule "ext/crosstool-ng"]
	path = ext/crosstool-ng
	url = https://github.com/crosstool-ng/crosstool-ng
	ignore = dirty
	shallow = true
[submodule "ext/gcc"]
	path = ext/gcc
	url = https://github.com/gcc-mirror/gcc.git
	ignore = dirty
	shallow = true
[submodule "ext/linux"]
	path = ext/linux
	url = https://github.com/torvalds/linux.git
	ignore = dirty
	shallow = true
[submodule "ext/osxcross"]
	path = ext/osxcross
	url = https://github.com/tpoechtrager/osxcross.git
	ignore = dirty
	shallow = true
[submodule "ext/fontconfig"]
	path = ext/fontconfig
	url = https://gitlab.freedesktop.org/fontconfig/fontconfig.git
	ignore = dirty
	shallow = true
[submodule "ext/freetype"]
	path = ext/freetype
	url = https://github.com/freetype/freetype.git
	ignore = dirty
	shallow = true
[submodule "ext/libexpat"]
	path = ext/libexpat
	url = https://github.com/libexpat/libexpat.git
	ignore = dirty
	shallow = true
[submodule "ext/libpng"]
	path = ext/libpng
	url = https://github.com/glennrp/libpng.git
	ignore = dirty
	shallow = true
[submodule "ext/zlib"]
	path = ext/zlib
	url = https://github.com/madler/zlib.git
	ignore = dirty
	shallow = true
[submodule "ext/alsa-lib"]
	path = ext/alsa-lib
	url = https://github.com/alsa-project/alsa-lib.git
	ignore = dirty
	shallow = true
[submodule "ext/libasound2"]
	path = ext/libasound2
	url = https://github.com/pop-os/libasound2.git
	ignore = dirty
	shallow = true

