crosstool-ng
*/root
*/.build
*/.config.old
*/.config.before-olddefconfig
*/.config.before-upgrade
*/linux
*/gcc
*/glibc
*/musl
*/fontconfig
*/freetype
*/zlib
*/libasound2
*/alsa-lib
*/libpng
*/libx11
*/xcbproto
*/xorgproto
*/include
*/stamp
*/ct-ng-stamp
*/libxdmcp
*/libxau
*/libxtrans
*/libxcb
*/libice
*/libsm
*/libxt
